RewriteEngine On
RewriteBase /RedictHub/

# Перенаправление ссылок вида /links/abc123.html на index.php
RewriteRule ^links/(.*)\.html$ index.php?slug=$1 [L,QSA]

# Если файл не существует, кидаем на index.php (для работы панели)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]
