@media only screen and (max-width: 660px) {
	/* База. */

	.bg {
		background-image: none !important;
	}

	/* База. */



	/* Bar. */

	.bar {
		max-width: 660px;
	}

	.bar_overflow {
		overflow: hidden;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.br_o:before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		background-color: rgba(0, 0, 0, .92);
		pointer-events: none;
		z-index: 998;
		opacity: 0;

		transition: opacity .23s ease-out;
	}

	.bar_overflow.br_o:before {
		opacity: 1;

		-webkit-animation: .23s ease-out opacity_overflow;
				animation: .23s ease-out opacity_overflow;
	}

	.bar_formats {
		overflow-y: hidden;
		overflow-x: scroll;

		margin: 0 -16px !important;

		-webkit-overflow-scrolling: touch;
			-ms-overflow-style: none;
				overflow: -moz-scrollbars-none;
	}

	.bar_formats::-webkit-scrollbar {
		width: 0;
	}

	.bar_formats_hidden {
		display: flex;
		flex-wrap: wrap;

		width: calc(200% - 64px);
		padding-top: 8px;
	}

	.bar_format {
		width: calc(100% / 2 - 64px);
		height: 400px;
		margin-right: 32px;
	}

	.bar_format:first-child {
		margin-left: 48px;
	}

	.bar_format:last-child {
		margin-right: 48px;
	}

	.bar_format:hover {
		transform: translate3d(0, -8px, 0);
	}

	/* Bar. */



	/* Msg. */

	.msg {
		left: 12px;
		right: 12px;

		-webkit-transform: translate3d(0, -200%, 0);
				transform: translate3d(0, -200%, 0);
	}

	.msg.active {
		opacity: 1;

		-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
	}

	/* Msg. */



	/* Steps. */

	.steps {
		display: flex;

		width: 100%;
		min-height: 100vh;
		margin-top: 0;
		margin-bottom: 0;
		padding-top: 100px;
		padding-left: 32px;
		padding-right: 32px;
		padding-bottom: 100px;
		border-radius: 0;
		box-shadow: none;
	}

	.steps.big {
		width: 100%;
	}

	.steps.login {
		display: block;

		min-height: 100vh;
	}

	.steps.big .steps_content {
		height: auto;
	}

	.steps.big .steps_button {
		width: 100%;
	}

	.steps.finish .steps_button {
		position: static;
	}

	.steps_flex {
		width: 100%;
		height: auto;
	}

	.steps_center {
		display: block;

		height: auto;
		padding-top: 32px;
		padding-bottom: 32px;
	}

	.steps_avatar {
		margin-left: -32px;
		margin-right: -32px;
	}

	.steps_tags {
		margin-top: 32px;
		margin-left: -32px;
		margin-right: -32px;
	}

	.steps_checks {
		margin-left: -30px;
		margin-right: -30px;
	}

	.steps_target {
		margin-left: -32px;
		margin-right: -32px;
	}

	.steps_pins {
		bottom: 59px;
	}

	/* Steps. */



	/* Header. */

	.header {
		padding-right: 0;
	}

	.header_setting {
		margin-right: 0;
	}

	/* Header. */



	/* Mini. */

	#profile.var_mini {
		padding-bottom: 12px;
	}

	#profile.var_mini.active {
		margin-right: 0;
	}

	#profile.var_mini.active .profile {
		-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
	}

	#profile.var_mini .profile_descr {
		font-size: 13px;
	}

	/* Mini. */



	/* Simple. */

	#profile.var_simple.active {
		margin-right: 0;
	}

	#profile.var_simple.active .profile {
		-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
	}

	#profile.var_simple .profile_descr {
		font-size: 13px;
	}

	/* Simple. */



	/* Burg. */

	.burg {
		position: absolute;
	}

	.burg:hover {
		transform: scale(1);
	}

	/* Burg. */



	/* Notifications. */

	.notifications {
		position: absolute;
	}

	/* Notifications. */



	/* Format. */

	.format.mini {
		width: calc(100% - 32px);
	}

	.format.simple {
		width: calc(100% - 8px);
	}

	/* Format. */



	/* Pad. */

	.pad_bar {
		max-width: 644px;
	}

	/* Pad. */



	/* Select. */

	.select_nets_content {
		width: 612px;
    	max-width: calc(100vw - 48px);
	}

	/* Select. */



	/* Sign CTA. */

	.sign_cta_logo {
		width: 40px;
	}

	.sign_cta_button {
		height: 40px;
		padding: 0 20px;
		line-height: 40px;
	}

	.sign_cta_button {
		font-size: 12px;
	}

	/* Sign CTA. */




	/* Pallete. */

	.color-picker {
		left: 24px !important;
		right: 24px !important;

		width: auto !important;

		transform: none !important;
	}

	.color-square {
		width: 100%;
	}

	.hue-slider {
		width: 100%;
	}

	/* Pallete. */
}

@media only screen and (max-width: 384px) {
	#profile.var_mini .shop_categories {
		margin-left: -24px;
		margin-right: -24px;
	}
}

@media only screen and (max-width: 544px) {
	#profile.var_simple .shop_categories {
		margin-left: -24px;
		margin-right: -24px;
	}
}

@media only screen and (max-width: 500px) {
	/* Burd. */

	.burg {
		/*top: 24px;
		left: 24px;*/
	}

	.burg.notifs {
		/*left: 76px;*/
	}

	/* Burg. */



	/* Bar. */

	.bar_scan {
		/*top: 8px;
		right: 8px;*/
	}

	/* Bar. */



	/* Simple. */

	.var_simple {
		padding-top: 24px;
	}

	/* Simple. */



	/* Notifications. */

	.notifications {
		top: 94px;
	}

	.notifications:before {
		left: 72px;
	}

	.notifications.active {
		top: 78px;
	}

	/* Notifications. */



	/* Pad. */

	.pad_content {
		/*padding: 0 24px;*/
	}

	/* Pad. */
}

@media only screen and (max-width: 475px) {
	/* Button. */

	.button {
		padding-left: 12px;
		padding-right: 12px;
	}

	.button.drop {
		padding-left: 2px;
	}

	/* Button. */
}

@media only screen and (max-width: 419px) {
	/* Bar. */

	.bar {
		border-left: 0;
	}

	/* Bar. */
}

@media only screen and (max-width: 410px) {
	/* Mini. */

	#profile.var_mini {
		padding-bottom: 60px;
	}

	#profile.var_mini .profile {
		padding-bottom: 24px;
	}

	/* Mini. */



	/* Profile. */

	.profile_social {
		width: auto !important;
		margin-left: -6px !important;
		margin-right: -6px !important;
		margin-bottom: -6px !important;
	}

	.profile_social_icon {
		width: calc(100% / 3 - 12px);
		margin: 6px;
		text-align: center;
	}

	.profile_target {
		padding-left: 16px;
		padding-right: 16px;
	}

	/* Profile. */
}

@media only screen and (max-width: 380px) {
	/* Simple. */

	#profile.var_simple {
		padding-top: 54px;
	}

	/* Simple. */



	/* Bar. */

	.bar_images_add {
		width: calc(100% / 3 - 12px);
	}

	.bar_images_cover {
		width: calc(100% / 3 - 12px);
	}

	/* Bar. */



	/* Footer. */

	.footer_link a {
		display: inline-block;

		width: 100%;
		margin: 0;
		padding: 8px 0;
	}

	/* Footer. */
}