.steps {
	position: relative;

	width: 420px;
	min-height: 500px;
	margin: 40px auto;
	padding: 64px 72px 65px;
	background-color: #FFF;
	border-radius: 16px;
	box-shadow: 0 0 10px rgba(0, 0, 0, .05);
}

.steps.big {
	width: 600px;
	min-height: 770px;
}

.steps.finish {
	padding-top: 0;
	padding-bottom: 0;
}

.steps.lazy {
	/*min-height: 90vh;*/
}

.steps.login {
	min-height: auto;
}

.steps_flex {
	display: flex;
	flex-direction: column;

	height: 412px;
}

.steps .error {
	margin-left: 0;
	margin-right: 0;
}

.steps_icon .icon-30 {
	margin: 0 auto;
}

.steps_title {
	padding-top: 12px;
}

.steps_content {
	flex-grow: 1;
	position: relative;
}

.steps_button {
	display: flex;
}

.steps_back {
	position: relative;

	width: 46px;
	height: 46px;
	margin-right: 16px;
	background-color: #315EFC;
	border-radius: 14px;
	cursor: pointer;

	transition: box-shadow .15s linear;
}

.steps_back:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 2px;
	bottom: 0;

	background: url(../images/arrow_right_white.svg) center center no-repeat;
	background-size: 12px auto;

	transform: rotate(180deg);
}

.steps_back:hover,
.steps_back:active {
	box-shadow: 0 20px 20px -12px rgba(49, 94, 251, .72);
}

.steps_button .button {
	flex-grow: 1;
}

.steps.big .steps_content {
	height: 526px;
}

.steps.lazy .steps_content {
	/*height: 564px;*/
}

.steps.finish .steps_content {
	height: 500px;
}

.steps.big .steps_flex {
	min-height: 641px;
}

.steps.finish .steps_flex {
	min-height: 500px;
}

.steps_center {
	display: flex;
	flex-direction: column;
	justify-content: center;

	height: 100%;
}

.steps.big .steps_button {
	width: 274px;
	margin: 0 auto;
}

.steps.finish .steps_button {
	margin-top: 40px;
	margin-bottom: 40px;
}

.steps_pins {
	position: absolute;
	left: 50%;
	bottom: 24px;

	text-align: center;

	transform: translate3d(-50%, 0, 0);
}

.steps_input {
	position: relative;

	margin-bottom: 16px;
}

.steps_input.last {
	margin-bottom: 0;
}

.steps_note {

}

.steps_note.subblack {
	margin-top: 8px;
}

.steps_clue {
	margin-bottom: 16px;
	text-align: center;
}

.steps_clue_block {
	display: inline-block;

	padding: 0 8px;
	color: #000;
	font-size: 14px;
	cursor: pointer;

	transition: color .13s ease-out;
}

.steps_clue_block:hover {
	color: #315EFB;
}

.steps_avatar {
	position: relative;
	margin: 0 -72px;
	height: 200px;
	background-image: url('../images/photo.svg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.steps_tags {
	overflow: hidden;
	position: relative;

	height: 304px;
	margin: 16px -72px 30px;
}

.steps_checks {
	margin: 0 -72px;
	padding: 0 25px;
}

.steps_target {
	flex-grow: 1;
	overflow: hidden;
	position: relative;

	margin: 32px -72px 0;
}

.steps_login {
	padding-top: 30px;
}

.steps_password {
	margin-bottom: 16px;
}

.steps_paginator {
	position: relative;

	margin-bottom: 28px;
	text-align: center;
}

.steps_paginator:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;

	height: 1px;
	background-color: #DCDCDC;
}

.steps_paginator_lable {
	display: inline-block;
	position: relative;

	padding: 0 12px;
	background: #FFF;
	z-index: 2;
}

.steps_code {
	display: flex;
	flex-wrap: wrap;

	margin: 0 -2px;
}

.steps_code_place {
	position: relative;

	width: calc(100% / 6 - 4px);
	height: 72px;
	margin: 0 2px;
	font-size: 27px;
	text-align: center;
	line-height: 72px;
	border-bottom: 2px solid #DEE0E8;
}

.steps_code_place:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;

	width: 6px;
	height: 6px;
	margin: -3px 0 0 -3px;
	background-color: #DEE0E8;
	border-radius: 50%;
}

.steps_code_place.cursor:before {
	width: 2px;
	height: 32px;
	margin: -16px 0 0 -1px;
	background-color: #DEE0E8;
	border-radius: 0;

	-webkit-animation: blitext 1s ease-out infinite;
	   -moz-animation: blitext 1s ease-out infinite;
		-ms-animation: blitext 1s ease-out infinite;
		 -o-animation: blitext 1s ease-out infinite;
			animation: blitext 1s ease-out infinite;
}

.steps_code_place.val:before {
	display: none;
}

/* Шаги. */



/* Навигация. */

.nav {
	position: absolute;
	top: -60px;
	left: 0;
	right: 0;

	margin-top: 60px;
	background-color: var(--white);
	z-index: 100;
}

.nav.fixed {
	position: fixed;
	top: -60px;

	margin-top: 0;
	opacity: 0;

	background-color: rgba(255, 255, 255, .92);

	transition: top .23s ease-out, opacity .23s ease-out;
}

.nav.visible {
	top: 0;

	opacity: 1;

	transition: top .23s ease-out, .23s opacity .23s ease-out;
}

.nav_bone {
	display: flex;
	align-items: center;

	width: 1320px;
	margin: 0 auto;
	padding: 16px 0;
}

.nav.fixed .nav_bone {
	padding: 8px 0;
}

.nav_logo {
	width: 36px;
}

.nav_logo img {
	width: 100%;
	height: auto;
}

.nav_ul {
	display: flex;

	margin-left: auto;
}

.nav_ul a {
	display: block;

	margin-left: 40px;
	color: #000;
	font-size: 12px;
	font-family: 'A', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: .8px;

	transition: color .16s ease-out;
}

.nav_ul a.signin {
	/*color: #315EFB;*/
}

.nav_ul a:hover {
	color: #315EFB;
}

.nav_ul a.signin:hover {
	/*color: #274BC8;*/
}

.nav_lang {
	position: relative;

	width: 36px;
	margin: 0 -4px 2px 36px;
	padding: 4px;
	border-radius: 8px;
	cursor: pointer;

	transition: background-color .15s ease-out;
}

.nav_lang:hover {
	background-color: rgba(0, 0, 0, .08);
}

.nav_lang:before {
	content: '';
	position: absolute;
	top: 4px;
	left: 4px;
	right: 4px;
	bottom: 4px;

	border: 1px solid rgba(0, 0, 0, .12);
	border-radius: 4px;
}

.nav_lang img {
	width: 100%;
	height: auto;
	border-radius: 4px;
}

/* Навигация. */



/* Промо. */

.promo_wrapper {
	margin-top: 68px;
	background: linear-gradient(72deg, #F8D5D0 0%, #F5C9EF 100%);
}

.promo {
	display: flex;
	align-items: center;
	position: relative;

	width: 1320px;
	height: 640px;
	margin: 0 auto;
}

#ua_animation {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	width: 100%;
	height: 100%;
	z-index: -1;
}

.promo_left {

}

.promo_title {
	color: #000;
	font-size: 40px;
	line-height: 48px;
	font-family: 'A', sans-serif;
}

.promo_uaddme {
	display: inline-block;
	position: relative;

	margin-bottom: 16px;
	padding-bottom: 4px;
	color: #315EFB;
	font-size: 15px;
	font-weight: 500;
	cursor: pointer;

	transition: transform .23s ease-out;
}

.promo_uaddme:hover {
	transform: translate3d(0, -4px, 0);
}

.promo_line {
	position: absolute;
	top: 50%;
	left: -12px;

	width: 1px;
	height: 49px;
	background-color: #000;

	transition: height .23s ease-out;
}

.promo_uaddme:hover .promo_line {
	height: 53px;
}

.promo_line:before,
.promo_line:after {
	content: '';
	position: absolute;
	left: 0;

	width: 3px;
	height: 1px;
	background-color: #000;
}

.promo_line:before {
	top: 0;
}

.promo_line:after {
	bottom: 0;
}

.promo_subtitle {
	overflow: hidden;
	position: relative;

	height: 44px;
	border-radius: 4px;
}

/*.promo_subtitle:before,
.promo_subtitle:after {
	content: '';
	position: absolute;
	left: 0;
	right: 0;

	height: 12px;
	z-index: 2;
}

.promo_subtitle:before {
	top: 0;

	background: linear-gradient(180deg, rgba(250, 250, 250, 1) 0%, rgba(250, 250, 250, 0) 100%);
}

.promo_subtitle:after {
	bottom: 0;

	background: linear-gradient(180deg, rgba(250, 250, 250, 0) 0%, rgba(250, 250, 250, 1) 100%);
}*/

.promo_subtitle_reel {
	transition: transform 9s cubic-bezier(.72, 0, .43, 1);
}

.promo_subtitle_reel span {
	display: block;

	height: 40px;
	padding: 3px 0;
	color: #000;
	font-size: 33px;
	font-weight: 500;
	line-height: 40px;
}

.promo_descr {
	padding: 24px 0 36px;
	color: #000;
	font-size: 15px;
	line-height: 160%;
}

.promo_descr img {
	display: inline-block;

	height: 21px;
	margin: 0 0 -7px 4px;
}

.promo_button {
	display: flex;
	flex-wrap: wrap;

	margin: -6px -6px -6px -8px;
}

.promo_link {
	position: relative;

	margin: 6px;
	padding: 0 44px 0 24px;
	color: #FFF;
	font-size: 12px;
	font-family: 'A', sans-serif;
	line-height: 46px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: .8px;
	background-color: #000;
	border-radius: 32px;
	cursor: pointer;

	transition: background-color .16s ease-out;
}

.promo_link:before {
	content: '';
	position: absolute;
	top: calc(50% - 4px);
	right: 24px;

	width: 8px;
	height: 8px;
	background: url('../images/arrow_right_white.svg') center center no-repeat;
	background-size: 100% auto;

	transition: right .16s ease-out;
}

.promo_link:hover {
	background-color: #274BC8;
}

.promo_link:hover:before {
	right: 20px;
}

.promo_prime {
	position: relative;

	margin: 6px;
	font-family: 'A', sans-serif;
}

.promo_prime .input-prefix-lable,
.promo_prime .input-prefix-field input,
.promo_prime .input-prefix-rev .input-prefix-field .input:focus,
.promo_prime .input-prefix-wrap.focus .input-prefix-field .input {
	border-color: transparent !important;
	background-color: transparent !important;
}

.promo_prime .input-prefix-wrap {
	background-color: rgba(0, 0, 0, .04);
	border-radius: 46px;
}

.promo_prime .input-prefix-wrap:hover {
	background-color: rgba(0, 0, 0, .06);
	border-radius: 46px;
}

.promo_prime .input-prefix-wrap.focus {
	background-color: rgba(0, 0, 0, .08);
}

.promo_prime input:-moz-placeholder {
	color: rgba(0, 0, 0, .48) !important;
}

.promo_prime input::-webkit-input-placeholder {
	color: rgba(0, 0, 0, .48);
}

.promo_prime ::-moz-placeholder {
	color: rgba(0, 0, 0, .48);
}

.promo_prime input {
	color: #000;
	font-size: 15px;
	font-family: 'A', sans-serif;
	border-radius: 0 32px 32px 0;

	transition: color .16s ease-out, background-color .16s ease-out;
}

.promo_prime input:hover {
	border-color: transparent;
	background-color: transparent;
}

.promo_prime input:focus {
	border-color: transparent;
	background-color: transparent;
}

.promo_right {
	flex-grow: 1;
	display: flex;
	align-items: flex-end;
	justify-content: center;

	position: relative;

	height: 100%;
}

.promo_iphone {
	overflow: hidden;
	position: relative;

	width: 400px;
	height: 550px;
}

.promo_iphone:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background: url('../images/iPhone_12_Pro.png') center center no-repeat;
	background-size: 400px auto;
	pointer-events: none;
	z-index: 3;
}

.promo_iphone_content {
	overflow: hidden;
	position: absolute;
	top: 2px;
	left: 4px;
	right: 4px;

	border-radius: 60px 60px 0 0;
	z-index: 2;
}

.promo_iphone_header {
	position: relative;

	transition: transform .5s ease-in-out;
}

.promo_iphone:hover .promo_iphone_header,
.promo_iphone.active .promo_iphone_header {
	transform: translate3d(0, -30px, 0);
}

.promo_iphone_header:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: -12px;

	box-shadow: inset 0 -130px 200px -50px rgba(0, 0, 0, .8);
	z-index: 2;

	transition: transform .5s ease-in-out;
}

.promo_iphone:hover .promo_iphone_header:before,
.promo_iphone.active .promo_iphone_header:before {
	transform: translate3d(0, -270px, 0);
}

.promo_iphone_avatar {
	width: 100%;
	height: auto;
	border-radius: 60px 60px 0 0;
}

.promo_iphone_title {
	position: relative;

	margin-top: -96px;
	padding-bottom: 30px;
	color: #FFF;
	font-size: 19px;
	font-family: 'A', sans-serif;
	text-align: center;
	text-shadow: 0 2px 1px rgba(0, 0, 0, .48);
	letter-spacing: 1px;
	z-index: 3;

	transition: transform .5s ease-in-out;
}

.promo_iphone:hover .promo_iphone_title,
.promo_iphone.active .promo_iphone_title {
	transform: translate3d(0, -300px, 0);
}

.promo_iphone_title span {
	display: block;

	padding-top: 12px;
	font-size: 15px;
}

.promo_iphone_info {
	display: block;
	position: relative;

	height: 500px;
	margin: 0 18px;
	padding: 30px;
	color: #000;
	text-decoration: none;
	background-color: #FFF;
	border-radius: 20px 20px 0 0;
	z-index: 3;

	transition: transform .5s ease-in-out;
}

.promo_iphone:hover .promo_iphone_info,
.promo_iphone.active .promo_iphone_info {
	transform: translate3d(0, -300px, 0);
}

.promo_iphone_button {
	height: 44px;
	padding: 0 30px;
	color: #FFF;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	line-height: 44px;
	letter-spacing: .2px;
	background-color: #315EFB;
	border-radius: 12px;
}

.promo_iphone_descr {
	padding-top: 25px;
	font-size: 14px;
	line-height: 21px;
}

.promo_iphone_social {
	padding-top: 25px;
	font-size: 0;
	text-align: center;
}

.promo_iphone_icon {
	display: inline-block;
	width: 46px;
	height: 46px;
	margin: 0 5px;
	padding: 12px;
	background-color: rgba(49, 94, 251, 0.08);
	border-radius: 12px;
}

.promo_iphone_icon img {
	width: 100%;
	height: auto;
}

/* Промо. */



/* Преимущества. */

.edge {
	position: relative;

	width: 1320px;
	margin: 0 auto;
	padding: 80px 0 40px;
}

.edge_block {
	display: flex;
	flex-wrap: wrap;

	margin-bottom: 40px;
	padding: 40px 0;
}

.edge_block:last-child {
	margin-bottom: 0;
}

.edge_left {
	width: 50%;
}

.edge_title {
	position: sticky;
	top: 80px;

	color: #000;
	font-size: 38px;
	font-family: 'A', sans-serif;
	line-height: 48px;
}

.edge_nav {
	pointer-events: none;
	position: fixed;
	left: calc(50% - 16px);
	bottom: 0;

	width: 644px;
	margin-left: -644px;
	padding: 120px 0 80px;
	background: linear-gradient(180deg, rgba(247, 247, 248, 0) 0%, #F7F7F8 20%, #F7F7F8 100%);
	opacity: 0;
	z-index: 2;

	transition: opacity .13s ease-out;
	will-change: opacity;
}

.edge_nav.view {
	pointer-events: auto;

	opacity: 1;

	transition: opacity .33s ease-out;
}

.edge_nav.bottom {
	position: absolute;
}

.edge_nav_ul {
	position: relative;

	padding-left: 18px;
	border-left: 1px solid #E3E3E3;
}

.edge_nav_ul span {
	display: block;

	padding: 5px 0;
}

.edge_nav_ul span a {
	color: #8D96B2;
	font-size: 13px;
	line-height: 14px;
}

.edge_nav_ul span.active a {
	color: #000;
}

.edge_nav_ul_active {
	position: absolute;
	left: -1px;

	width: 1px;
	height: 24px;
	background-color: #000;

	transition: top .13s ease-out;
}

.edge_right {
	width: 50%;
}

.edge_tile {
	margin-bottom: 40px;
	padding: 80px 40px;
	background-color: var(--white);
	border-radius: 32px;
}

.edge_tile:last-child {
	margin-bottom: 0;
}

.edge_tile_title {
	display: none;

	max-width: 420px;
	margin: 0 auto 28px;
	font-size: 19px;
	font-weight: 500;
}

.edge_tile_cover {
	position: relative;

	max-width: 420px;
	margin: 0 auto 28px;
	background-color: #FFF;
	border: 1px solid #E8EAF0;
}

.edge_tile_sutitle {
	max-width: 420px;
	margin: 0 auto;
	padding-bottom: 12px;
	color: #000;
	font-size: 19px;
	font-family: 'A', sans-serif;
	line-height: 23px;
}

.edge_tile_text {
	max-width: 420px;
	margin: 0 auto;
	color: #000;
	font-size: 15px;
	line-height: 160%;
}

.edge_tile_cover_link {
	padding: 32px 0;
	font-size: 25px;
	font-weight: 500;
	text-align: center;
	line-height: 25px;
}

.edge_tile_cover_qr {
	padding: 60px;
}

.edge_tile_cover_qr img {
	width: 100%;
	max-width: 220px;
	margin: 0 auto;
}

.edge_tile_cover_descr {
	position: relative;

	padding: 26px 20px 20px;
	font-size: 11px;
	line-height: 21px;
}

.edge_tile_cover_descr:before {
	content: '';
	position: absolute;
	top: 0;
	left: 20px;
	right: 20px;

	height: 6px;
	background-color: #315EFB;
	border-radius: 0 0 2px 2px;
}

.edge_tile_cover_phone {
	overflow: hidden;
	position: relative;

	width: 90%;
	max-width: 300px;
	height: 460px;
	margin: 0 auto;
}

.edge_tile_cover_phone:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background: url('../images/iPhone_12_Pro.png') center bottom no-repeat;
	background-size: 100% auto;
	z-index: 3;
}

.edge_tile_cover_phone_image {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;

	z-index: 2;
}

.edge_tile_cover_phone_image img {
	width: 100%;
	height: auto;
	border-radius: 40px 40px 0 0;
}

.edge_tile_cover_lable {
	position: absolute;
	left: 30px;
	bottom: 40px;

	padding: 13px 35px 11px;
	color: #FFF;
	font-size: 8px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1.5px;
	background-color: #3A60F2;
	border-radius: 2px;
	box-shadow: 8px 8px 8px rgba(0, 0, 0, .12);
	z-index: 5;
}

.edge_tile_cover_сс {
	padding: 32px 0 20px;
	font-size: 25px;
	font-weight: 500;
	text-align: center;
	line-height: 25px;
}

.edge_tile_cover_сс_lable {
	overflow: hidden;
	position: relative;

	padding: 0 30px 24px;
	color: #A7A7A7;
	font-size: 14px;
	white-space: nowrap;
}

.edge_tile_cover_сс_lable:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 12px;

	width: 60px;
	background: linear-gradient(90deg, rgba(238, 242, 244, 0) 0%, rgba(238, 242, 244, 1) 60%, rgba(238, 242, 244, 1) 100%);
}

.edge_tile_cover_pad {
	overflow: hidden;
	position: relative;

	width: 90%;
	max-width: 380px;
	height: 330px;
	margin: 0 auto;
}

.edge_tile_cover_pad:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	background: url('../images/ipad.png') center bottom no-repeat;
	background-size: 100% auto;
	z-index: 3;
}

.edge_tile_cover_pad_image {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;

	z-index: 2;
}

.edge_tile_cover_pad_image img {
	width: 100%;
	height: auto;
}

.edge_tile_cover_mail {
	padding: 20px 28px 28px;
}

.edge_tile_cover_mail_text_top,
.edge_tile_cover_mail_text_center,
.edge_tile_cover_mail_text_bottom {
	height: 6px;
	margin-bottom: 8px;
	background-color: #F4F4F4;
	border-radius: 6px;
}

.edge_tile_cover_mail_text_top {
	width: 180px;
}

.edge_tile_cover_mail_text_center {
	width: 140px;
}

.edge_tile_cover_mail_text_bottom {
	width: 250px;
	margin-bottom: 24px;
}

.edge_tile_cover_mail_sign {
	display: flex;
	flex-wrap: wrap;
}

.edge_tile_cover_mail_sign img {
	width: 40px;
	height: 40px;
	margin-right: 12px;
	border-radius: 50%;
}

.edge_tile_cover_mail_sign_info {

}

.edge_tile_cover_mail_sign_title {
	font-size: 15px;
	line-height: 17px;
}

.edge_tile_cover_mail_sign_link {
	padding-top: 4px;
	color: #315EFB;
	font-size: 14px;
	line-height: 16px;
}

.edge_tile_cover_social {
	position: relative;

	margin-bottom: 60px;
}

.edge_tile_cover_social img.visible {
	position: absolute;
	top: 0;
	left: 0;

	width: 100%;
	height: auto;
	border-radius: 12px;
}

.edge_tile_cover_social img.hidden {
	width: 90%;
	height: auto;
	opacity: 0;
}

/* Преимущества. */



/* Анимация. */

.animation_top {
	opacity: 0;

	transition: opacity .33s ease-out, transform .63s ease-out;
	will-change: transform, opacity;

	transform: translate3d(0, 60px, 0);
}

.animation_top.animation_active {
	opacity: 1;

	transform: translate3d(0, 0, 0);
}

/* Анимация. */



/* Люди. */

.people {
	width: 1320px;
	margin: 0 auto;
	padding: 160px 0 40px;
}

.people_title {
	font-size: 38px;
	text-align: center;
	line-height: 48px;
}

.people_subtitle {
	padding-top: 16px;
	color: #000;
	font-size: 15px;
	text-align: center;
}

.people_zone {
	overflow: hidden;
	position: relative;
}

.people_zone:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;

	width: 60px;
	background: linear-gradient(270deg, rgba(247, 247, 248, 0) 0%, rgba(247, 247, 248, 1) 100%);
	z-index: 1;
}

.people_zone:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;

	width: 60px;
	background: linear-gradient(90deg, rgba(247, 247, 248, 0) 0%, rgba(247, 247, 248, 1) 100%);
	z-index: 1;
}

.people_slider {
	width: calc(80% - 56px);
	margin: 0 auto;
	padding-top: 40px;
}

.people_slide {
	display: flex;
	flex-wrap: wrap;
}

.people_block {
	width: calc(100% / 3 - 28px);
	margin: 60px 14px 0;
	padding: 0 28px 28px;
	background-color: #FFF;
	border-radius: 16px;
	box-shadow: 2px 4px 16px rgba(0, 0, 0, .08);
}

.people_block_avatar {
	width: 100px;
	height: 100px;
	margin: -50px 0 0 -8px;
}

.people_block_avatar img {
	width: 100%;
	height: auto;
	border: 4px solid #EEF2F4;
	border-radius: 50%;
}

.people_block_name {
	overflow: hidden;

	padding-top: 16px;
	font-size: 17px;
	font-weight: 500;
	text-overflow: ellipsis;
	line-height: 24px;
	white-space: nowrap;
	letter-spacing: .2px;
}

.people_block_who {
	padding-top: 4px;
	color: #8D96B2;
	font-size: 14px;
	line-height: 18px;
}

.people_block_link {
	padding-top: 16px;
}

.people_block_link a {
	color: #315EFB;
	font-size: 14px;
	font-weight: 500;
}

/* Люди. */



/* Текстовые блоки. */

.text {
	max-width: 1120px;
	margin: 0 auto;
	padding: 104px 24px 0;
}

.text.padding {
	padding: 0 24px 20px;
}

.text h1 {
	padding-bottom: 24px;
	font-size: 38px;
	font-weight: 400;
	font-family: 'A', sans-serif;
	line-height: 50px;
}

.text h2 {
	padding: 20px 0;
	font-size: 25px;
	font-weight: 400;
	font-family: 'A', sans-serif;
	line-height: 36px;
}

.text h2:first-child {
	padding-top: 0;
}

.text h3 {
	padding-bottom: 16px;
	font-size: 19px;
	font-weight: 400;
	font-family: 'A', sans-serif;
	line-height: 30px;
}

.text p {
	padding-bottom: 20px;
	font-size: 15px;
	line-height: 1.8;
}

.text p:last-child {
	padding-bottom: 0;
}

.text p a {
	color: #315EFB;
	background-color: rgba(49, 94, 251, 0);

	transition: background-color .33s ease-out;
}

.text p a:hover {
	background-color: rgba(49, 94, 251, .1);
}

.text ul {
	margin: 0 0 24px 0;
	padding-left: 16px;
	color: #315EFB;
	font-size: 14px;
	line-height: 27px;
	list-style: disc;
}

.text ul li {
	padding-left: 10px;
}

.text ul li span {
	color: #000;
	font-size: 14px;
}

.text p strong,
.text ul li strong {
	font-weight: 500;
}

/* Текстовые блоки. */



/* Подвал. */

.footer {
	display: flex;
	flex-wrap: wrap;

	width: 1320px;
	margin: 48px auto 0;
	padding: 32px 0;
}

.footer_copy {
	color: #8D96B2;
	font-size: 14px;
}

.footer_link {
	padding-left: 48px;
	text-align: right;
}

.footer_copy a {
	position: relative;

	padding-right: 18px;
	color: #315EFB;
	font-size: 14px;
	text-decoration: none;

	transition: color .23s ease-out;
}

.footer_copy a:hover {
	color: #FC6221;
}

.footer_copy a svg {
	position: absolute;
	top: 2px;
	right: 0;

	width: 12px;
	height: 12px;
	fill: #315EFB;

	transition: fill .23s ease-out;
}

.footer_copy a:hover svg {
	fill: #FC6221;

	-webkit-animation: heart_beat .63s ease-out infinite;
	   -moz-animation: heart_beat .63s ease-out infinite;
		-ms-animation: heart_beat .63s ease-out infinite;
		 -o-animation: heart_beat .63s ease-out infinite;
			animation: heart_beat .63s ease-out infinite;
}

.footer_link a {
	margin-right: 24px;
	color: #8D96B2;
	font-size: 14px;
}

.footer_lang a {
	color: #315EFB;
	font-size: 14px;
	margin-left: 24px;
}

.footer_link a:hover,
.footer_lang a:hover {
	text-decoration: underline;
}

.footer_lang {
	flex-grow: 1;

	text-align: right;
}

/* Подвал. */



/* Как это работает. */

.how {
	width: 1320px;
	margin: 80px auto 0;
}

.how_header {
	padding-bottom: 28px;
	font-size: 38px;
	font-family: 'A', sans-serif;
	line-height: 48px;
}

.how_blocks {
	display: flex;
	flex-wrap: wrap;

	margin: 0 -20px;
}

.how_block {
	width: calc(100% / 3 - 40px);
	margin: 0 20px;
	padding: 28px 0;
}

.how_block.arrow {
	position: relative;

	border-right: 1px solid #E7E7E9;
}

.how_block.arrow:before {
	content: '';
	position: absolute;
	top: 50%;
	left: calc(100% + 18px);

	width: 0;
	height: 0;
	margin-top: -6px;
	border: 6px solid transparent;
	border-left-color: #E7E7E9;
}

.how_title {
	display: inline-block;

	margin-left: -8px;
	padding: 0 8px;
	font-size: 19px;
	font-family: 'A', sans-serif;
	line-height: 27px;
	background-color: rgb(227, 235, 253);
}

.how_block:first-child .how_title {
	background-color: rgb(230, 251, 254);
}

.how_block:last-child .how_title {
	background-color: rgb(237, 221, 251);
}

.how_descr {
	padding-top: 20px;
	color: #252525;
	font-size: 15px;
	line-height: 160%;
}

/* Как это работает. */



/* Функции. */

.func {
	width: 1320px;
	margin: 80px auto 0;
}

.func_header {
	padding-bottom: 48px;
	font-size: 38px;
	font-family: 'A', sans-serif;
	text-align: center;
}

.func_blocks {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	margin: -20px;
}

.func_block {
	display: flex;
	flex-wrap: wrap;

	margin: 20px;
	padding: 28px;
	background-color: #FFF;
	border-radius: 16px;
}

.func_icon {
	width: 28px;
}

.func_icon img {
	width: 100%;
	height: auto;
}

.func_title {
	width: calc(100% - 28px);
	padding-top: 5px;
	padding-left: 24px;
	font-size: 17px;
	font-family: 'A', sans-serif;
	white-space: nowrap;
}

/* Функции. */



/* Rotate Stats. */

@keyframes revolver {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes revolver-inner {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-360deg);
	}
}

.rotate_stats {
	overflow: hidden;

	padding: 80px 0;
}

.rotate_stats_route {
	position: relative;

	width: 200px;
	height: 200px;
	margin: 0 auto;
	border: 1px solid #E8EAF0;
	border-radius: 50%;

	transform-origin: 50% 50%;

	animation: revolver 20s linear infinite;
}

.rotate_stats_circle {
	position: absolute;

	width: 80px;
	height: 80px;
	margin: -40px;
	padding: 24px;
	background-color: #315EFB;
	border-radius: 50%;

	animation: revolver-inner 20s linear infinite;
}

.rotate_stats_circle.circle_mini {
	width: 40px;
	height: 40px;
	margin: -20px;
	padding: 0;
	background-color: #FFF;
}

.rotate_stats_circle img {
	width: 100%;
	height: auto;
}

.rotate_stats_circle.circle_1 {
	top: 0;
	left: 50%;
}

.rotate_stats_circle.circle_2 {
	top: calc(100% / 4 * 3);
	left: calc(100% / 16);
}

.rotate_stats_circle.circle_3 {
	top: calc(100% / 4 * 3);
	right: calc(100% / 16);
}

.rotate_stats_circle.circle_4 {
	left: 50%;
	bottom: 0;
}

.rotate_stats_circle.circle_5 {
	left: calc(100% / 16);
	bottom: calc(100% / 4 * 3);
}

.rotate_stats_circle.circle_6 {
	right: calc(100% / 16);
	bottom: calc(100% / 4 * 3);
}

/* Rotate Stats. */



/* Strong. */

.strong {
	padding: 80px 20px 0;
}

.strong_title {
	font-size: 25px;
	font-family: 'A', sans-serif;
	text-align: center;
	line-height: 36px;
}

.strong_descr {
	padding-top: 12px;
	color: #8D96B2;
	font-size: 16px;
	text-align: center;
	line-height: 24px;
}

.strong_button {
	padding-top: 16px;
	text-align: center;
}

.strong_button a {
	display: inline-block;
	position: relative;

	padding-right: 15px;
	color: #315EFB;
	font-size: 16px;
	text-decoration: none;
	letter-spacing: .2px;
	border-bottom: 1px solid transparent;
}

.strong_button a:before {
	content: '';
	position: absolute;
	top: 5px;
	right: 0;

	width: 10px;
	height: 10px;
	background: url('../images/arrow_right.svg') center center no-repeat;
	background-size: 10px auto;

	transition: right .25s ease-out;
}

.strong_button a:hover:before {
	right: -5px;
}

/* Strong. */



/* Cookies. */

.cookies {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	position: fixed;
	left: 32px;
	bottom: 32px;

	padding: 8px 8px 8px 32px;
	background-color: #315EFB;
	border-radius: 40px;
	z-index: 9;
}

.cookies_descr {
	padding-right: 32px;
	color: #FFF;
	font-size: 15px;
}

.cookies_button {
	display: inline-block;

	padding: 12px 24px 10px;
	color: #FFF;
	font-size: 15px;
	font-weight: 500;
	text-decoration: none;
	background-color: rgba(0, 0, 0, .12);
	border-radius: 32px;
	cursor: pointer;

	transition: background-color .16s ease-out;
}

.cookies_button:hover {
	background-color: rgba(0, 0, 0, .20);
}

/* Cookies. */



/* Pricing. */

.pricing {
	padding-top: 100px;
}

.pricing_bone {
	max-width: 1320px;
	margin: 0 auto;
	padding: 40px 0;
}

.pricing_group {

}

.pricing_title {
    font-size: 38px;
    font-family: 'A', sans-serif;
    line-height: 50px;
}

.pricing_subtitle {
	padding-top: 20px;
	font-size: 18px;
	line-height: 1.4;
}

.pricing_tabs {
	display: flex;
	flex-wrap: wrap;
	position: relative;

	margin: -4px;
	padding: 40px 0;
	z-index: 1;
}

.pricing_tabs_tab {
	margin: 4px;
	padding: 13px 20px 12px;
	color: var(--black);
	font-size: 12px;
	font-family: 'A', sans-serif;
	text-transform: uppercase;
	letter-spacing: .8px;
	border-radius: 40px;
	cursor: pointer;

	transition: color .23s ease-out, background-color .23s ease-out;
}

.pricing_tabs_tab span {
	display: inline-block;

	opacity: .4;
}

.pricing_tabs_tab:hover {
	background-color: rgba(0, 0, 0, .08);
}

.pricing_tabs_tab.active {
	color: var(--white);
	background-color: var(--black);
}

.pricing_table {
	position: relative;

	margin-top: -128px;
}

.pricing_table:before {
	content: '';
	position: absolute;
	top: -12px;
	right: 158px;
	bottom: -12px;

	width: 160px;
	border: 2px solid var(--blue);
	border-radius: 16px;
	z-index: -1;
}

.pricing_table_row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;

	padding: 12px 0 12px 16px;
	border-radius: 8px;
}

.pricing_table_row:first-child {
	align-items: initial;

	padding-bottom: 24px;
}

.pricing_table_row:nth-child(even) {
	background-color: rgba(0, 0, 0, .04);
}

.pricing_table_grow {
	flex-grow: 1;

	line-height: 1.4;
}

.pricing_table_col {
	width: 100%;
	max-width: 160px;
}

.pricing_table_row:first-child .pricing_table_col {
	display: flex;
	flex-direction: column;
}

.pricing_table_label {
	display: none;

	padding-bottom: 8px;
	font-size: 11px;
	text-align: center;
}

.pricing_table_icon {
	padding: 0 12px 16px;
}

.pricing_table_icon img {
	width: 100%;
	max-width: 100px;
	height: auto;
	margin: 0 auto;
}

.pricing_table_title {
	font-size: 21px;
	font-family: 'A', sans-serif;
	text-align: center;
}

.pricing_table_subtitle {
	flex-grow: 1;

	padding: 8px 8px 0;
	font-size: 13px;
	text-align: center;
	line-height: 1.4;
	word-wrap: break-word;
}

.pricing_table_price {
	padding-top: 8px;
	font-weight: 700;
	text-align: center;
}

.pricing_table_price span {
	position: relative;
	display: inline-block;

	padding: 0 4px;
	font-weight: 400;
	opacity: .4;
}

.pricing_table_price span:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 2px;
	right: 2px;

	height: 1px;
	background-color: var(--black);
	opacity: .6;

	transform: rotate(-8deg);
}

.pricing_table_text {
	font-size: 15px;
	text-align: center;
}

.pricing_table_check {
	width: 14px;
	height: 14px;
	margin: 0 auto;
	background: url('../images/check.svg') center center no-repeat;
	background-size: 100% auto;
}

.pricing_table_unlimited {
	width: 16px;
	height: 16px;
	margin: 0 auto;
	background: url('../images/unlimited.svg') center center no-repeat;
	background-size: 100% auto;
}

.pricing_table_pro,
.pricing_table_max,
.pricing_table_ultra {
	width: 20px;
	height: 20px;
	margin: 0 auto;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% auto;
}

.pricing_table_pro {
	background-image: url('../images/ver_pro.svg');
}

.pricing_table_max {
	background-image: url('../images/ver_max.svg');
}

.pricing_table_ultra {
	background-image: url('../images/ver_ultra.svg');
}

/* Pricing. */



/* Media. */

@media only screen and (max-width: 1580px) {
	/* Promo. */

	.promo {
		width: 1320px;
	}

	/* Promo. */
}

@media only screen and (max-width: 1400px) {
	/* Nav. */

	.nav_bone {
		width: 1120px;
	}

	/* Nav. */



	/* Promo. */

	.promo {
		width: 1120px;
	}

	/* Promo. */



	/* Преимущества. */

	.edge {
		width: 1120px;
	}

	.edge_nav {
		width: 544px;
		margin-left: -544px;
	}

	/* Преимущества. */



	/* Люди. */

	.people {
		width: 1120px;
	}

	.people_block_name {
		font-size: 15px;
		line-height: 21px;
	}

	/* Люди. */



	/* Подвал. */

	.footer {
		width: 1120px;
	}

	/* Подвал. */



	/* Как это работает. */

	.how {
		width: 1120px;
	}

	/* Как это работает. */



	/* Функции. */

	.func {
		width: 1120px;
	}

	/* Функции. */



	/* Pricing. */

	.pricing_bone {
		max-width: 1120px;
	}

	/* Pricing. */
}

@media only screen and (max-width: 1200px) {
	/* Nav. */

	.nav_bone {
		width: 920px;
	}

	/* Nav. */



	/* Promo. */

	.promo {
		width: 920px;
		height: 560px;
	}

	.promo_left {
		padding-left: 60px;
	}

	.promo_iphone {
		transform-origin: center bottom;
		transform: scale(.9);
	}

	.promo_subtitle_reel span {
		font-size: 25px;
	}

	/* Promo. */



	/* Преимущества. */

	.edge {
		width: 920px;
	}

	.edge_nav {
		width: 444px;
		margin-left: -444px;
	}

	.edge_title {
		font-size: 38px;
	}

	/* Преимущества. */



	/* Люди. */

	.people {
		width: 920px;
	}

	.people_slider {
		width: 100%;
	}

	/* Люди. */



	/* Подвал. */

	.footer {
		width: 920px;
	}

	/* Подвал. */



	/* Как это работает. */

	.how {
		width: 920px;
	}

	.how_blocks {
		margin: 0 -10px;
	}

	.how_block {
		width: calc(100% / 3 - 20px);
		margin: 0 10px;
		padding: 16px 0;
	}

	.how_block.arrow:before {
		left: calc(100% + 8px);
	}

	.how_title {
		font-size: 17px;
	}

	/* Как это работает. */



	/* Функции. */

	.func {
		width: 920px;
	}

	.func_blocks {
		margin: -10px;
	}

	.func_block {
		margin: 10px;
		padding: 24px;
	}

	.func_icon {
		width: 24px;
	}

	.func_title {
		padding-left: 20px;
		font-size: 14px;
	}

	/* Функции. */



	/* Pricing. */

	.pricing_bone {
		max-width: 920px;
	}

	.pricing_table {
		margin-top: -114px;
	}

	.pricing_table:before {
		right: 98px;

		width: 100px;
	}

	.pricing_table_col {
		max-width: 100px;
	}

	/* Pricing. */
}

@media only screen and (max-width: 980px) {
	/* Nav. */

	.nav_bone {
		width: 820px;
	}

	/* Nav. */



	/* Promo. */

	.promo {
		width: 820px;
		height: 500px;
	}

	.promo_iphone {
		transform: scale(.8);
	}

	.promo_subtitle_reel span {
		font-size: 19px;
	}

	/* Promo. */



	/* Преимущества. */

	.edge {
		width: 820px;
	}

	.edge_nav {
		width: 394px;
		margin-left: -394px;
	}

	/* Преимущества. */



	/* Люди. */

	.people {
		width: 820px;
	}

	/* Люди. */



	/* Подвал. */

	.footer {
		width: 820px;
	}

	/* Подвал. */



	/* Как это работает. */

	.how {
		width: 820px;
	}

	/* Как это работает. */



	/* Функции. */

	.func {
		width: 820px;
	}

	.func_title {
		font-size: 14px;
	}

	/* Функции. */



	/* Pricing. */

	.pricing_bone {
		max-width: 820px;
	}

	/* Pricing. */
}

@media only screen and (max-width: 880px) {
	/* Nav. */

	.nav.visible {
		display: none;
	}

	.nav_bone {
		width: 550px;
	}

	.nav_ul .signin.reg {
		display: none;
	}

	/* Nav. */



	/* Promo. */

	.promo {
		flex-direction: column;
		align-items: stretch;

		width: 550px;
		height: auto;
	}

	.promo_left {
		padding: 76px 0;
	}

	.promo_iphone {
		transform: none;
	}

	.promo_subtitle_reel span {
		font-size: 22px;
	}

	/* Promo. */



	/* Преимущества. */

	.edge {
		width: 550px;
	}

	.edge_nav {
		display: none;
	}

	.edge_block {
		display: block;
	}

	.edge_left {
		width: 100%;
		padding-bottom: 28px;
	}

	.edge_right {
		width: 100%;
	}

	.edge_title br.br {
		display: none;
	}

	.edge_tile {
		margin-bottom: 40px;
	}

	/* Преимущества. */



	/* Люди. */

	.people {
		width: 550px;
	}

	.people_slider {
		padding-top: 24px;
	}

	.people_block {
		display: flex;
		flex-wrap: wrap;
		align-items: center;

		width: 100%;
		margin: 28px 65px 0;
		padding: 28px;
	}

	.people_block_info {
		width: calc(100% - 100px);
		padding-left: 28px;
	}

	.people_block_avatar {
		margin: 0;
	}

	.people_block_name {
		padding-top: 0;
		font-size: 17px;
	}

	/* Люди. */



	/* Подвал. */

	.footer {
		width: 550px;
	}

	.footer_copy,
	.footer_link,
	.footer_lang {
		width: 100%;
		text-align: center;
	}

	.footer_copy {
		order: 1;

		padding-top: 16px;
	}

	.footer_link {
		padding-top: 16px;
		padding-left: 0;
	}

	.footer_lang {
		order: -1;
	}

	.footer_link a,
	.footer_lang a {
		display: inline-block;

		margin: 6px 12px;
	}

	/* Подвал. */



	/* Как это работает. */

	.how {
		width: 550px;
	}

	.how_blocks {
		margin: -12px 0;
	}

	.how_block {
		width: 100%;
		margin: 12px 0;
		padding: 28px 0;
	}

	.how_title {
		font-size: 19px;
	}

	.how_block.arrow {
		border-right: 0 none;
		border-bottom: 1px solid #E7E7E9;
	}

	.how_block.arrow:before {
		top: calc(100% + 16px);
		left: 50%;

		margin-left: -6px;
		border-left-color: transparent;
		border-top-color: #E8EAF0;
	}

	/* Как это работает. */



	/* Функции. */

	.func {
		width: 550px;
	}

	/* Функции. */



	/* Pricing. */

	.pricing_bone {
		max-width: 550px;
	}

	.pricing_table {
		margin-top: 0;
	}

	.pricing_table:before {
		display: none;
	}

	.pricing_table_row {
		margin-top: 8px;
		padding: 12px;
		background-color: rgba(0, 0, 0, .04);
		border-radius: 12px;
	}

	.pricing_table_row:first-child {
		margin: -8px -8px 0;
		padding: 0;
		background-color: transparent;
	}

	.pricing_table_grow {
		width: 100%;
		padding-bottom: 12px;
		font-size: 15px;
		font-weight: 700;
	}

	.pricing_table_col {
		width: calc(25% - 4px);
		max-width: 100%;
		margin: 0 2px 2px;
		padding: 8px 4px;
		background-color: rgba(0, 0, 0, .04);
		border-radius: 4px;
	}

	.pricing_table_row:first-child .pricing_table_col {
		width: calc(50% - 16px);
		margin: 8px;
		padding: 12px;
		border-radius: 12px;
	}

	.pricing_table_label {
		display: block;
	}

	/* Pricing. */
}

@media only screen and (max-width: 620px) {
	/* Nav. */

	.nav_bone {
		width: 425px;
	}

	/* Nav. */



	/* Promo. */

	.promo {
		width: 425px;
	}

	.promo_iphone {
		transform: scale(.9);
	}

	.promo_subtitle_reel span {
		font-size: 19px;
	}

	.promo_title {
		font-size: 38px;
	}

	.promo_iphone_info {
		margin-left: 17px;
	}

	/* Promo. */



	/* Преимущества. */

	.edge {
		width: 425px;
	}

	.edge_tile_text br {
		display: none;
	}

	/* Преимущества. */



	/* Люди. */

	.people {
		width: 425px;
		padding-top: 32px;
	}

	.people_title {
		font-size: 30px;
		margin: 0 20px;
	}

	.people_subtitle {
		padding-top: 8px;
		font-size: 14px;
	}

	.people_zone:before,
	.people_zone:after {
		display: none;
	}

	.people_slider {
		padding-top: 0;
	}

	.people_block {
		margin-left: 40px;
		margin-right: 40px;
		padding: 16px;
	}

	.people_block_info {
		padding-left: 16px;
	}

	.people_block_avatar {
		width: 100px;
		height: 100px;
	}

	/* Люди. */



	/* Подвал. */

	.footer {
		width: 425px;
	}

	/* Подвал. */



	/* Текст. */

	.text {
		
	}

	.text h1 {
		font-size: 21px;
		line-height: 31px;
	}

	.text h2 {
		font-size: 16px;
		line-height: 27px;
	}

	.text h3 {
		font-size: 14px;
		line-height: 27px;
	}

	/* Текст. */



	/* Как это работает. */

	.how {
		width: 425px;
	}

	.how_block {
		padding: 28px 0;
	}

	/* Как это работает. */



	/* Функции. */

	.func {
		width: 425px;
		margin: 40px auto;
	}

	.func_blocks {
		margin: -10px 0;
	}

	.func_block {
		width: 100%;
		margin: 10px 0;
		padding: 28px;
	}

	.func_icon {
		width: 28px;
	}

	.func_title {
		padding-left: 28px;
		font-size: 16px;
	}

	/* Функции. */



	/* Pricing. */

	.pricing_bone {
		max-width: 425px;
	}

	/* Pricing. */
}

@media only screen and (max-width: 500px) {
	/* Nav. */

	.nav {
		background-color: transparent;
	}

	.nav_bone {
		width: 100%;
		padding: 28px 32px;
	}

	/* Nav. */



	/* Promo. */

	.promo_wrapper {
		margin-top: 0;
	}

	.promo {
		width: 100%;
		margin-top: 0;
		margin-bottom: 12px;
		border-radius: 0;
	}

	.promo_left {
		padding: 96px 32px 60px;
	}

	.promo_right {
		height: auto;
	}

	.promo_iphone {
		width: 320px;
		height: 440px;

		transform: scale(1);
	}

	.promo_iphone:before {
		background-size: 320px auto;
	}

	.promo_subtitle {
		height: 36px;
	}

	.promo_subtitle_reel span {
		font-size: 19px;
		line-height: 36px;
	}

	.promo_iphone_title {
		margin-top: -90px;
	}

	.promo_iphone_info {
		margin: 0 14px 0 13px;
		padding: 12px;
	}

	/* Promo. */



	/* Преимущества. */

	.edge {
		width: 100%;
	}

	.edge_left {
		padding: 0 32px 28px;
	}

	.edge_tile {
		padding: 32px 32px 28px;
		border-radius: 0;
	}

	/* Преимущества. */



	/* Люди. */

	.people {
		width: 100%;
		padding-top: 28px;
	}

	.people_block {
		display: block;

		margin: 78px 32px 0;
		padding: 0 28px 28px;
	}

	.people_block_info {
		width: 100%;
		padding-left: 0;
	}

	.people_block_avatar {
		margin: -50px 0 0 -8px;
	}

	.people_block_name {
		padding-top: 16px;
	}

	/* Люди. */



	/* Подвал. */

	.footer {
		width: 95%
	}

	/* Подвал. */



	/* Как это работает. */

	.how {
		width: calc(100% - 64px);
	}

	/* Как это работает. */



	/* Функции. */

	.func {
		width: calc(100% - 64px);
	}

	.func_header {
		text-align: left;
	}

	/* Функции. */



	/* Cookies. */

	.cookies {
		display: block;
		left: 0;

		padding: 11px 36px 10px 24px;
		border-radius: 0 40px 40px 0;
	}

	.cookies_descr {
		padding-right: 0;
		font-size: 11px;
	}

	.cookies_button {
		margin-top: 4px;
		padding: 0;
		color: #FFF;
		font-size: 11px;
		text-decoration: underline;
		background-color: transparent;
	}

	.cookies_button:hover {
		background-color: transparent;
	}

	/* Cookies. */



	/* Pricing. */

	.pricing_bone {
		width: calc(100% - 64px);
	}

	/* Pricing. */
}

@media only screen and (max-width: 400px) {
	/* Nav. */

	.nav_ul a {
		margin-left: 28px;
	}

	.nav_lang {
		margin-left: 24px;
	}

	/* Nav. */



	/* Promo. */

	.promo {
		margin-bottom: 8px;
	}

	.promo_iphone {
		transform: scale(.9);
	}

	.promo_title {
		font-size: 25px;
		line-height: 32px;
	}

	/* Promo. */



	/* Люди. */

	.people_title {
		font-size: 25px;
		line-height: 36px;
	}

	.people_subtitle {
		padding-bottom: 0px;
		font-size: 14px;
	}

	/* Люди. */



	/* Strong. */

	.strong_title {
		font-size: 19px;
		line-height: 28px;
	}

	.strong_descr {
		font-size: 14px;
		line-height: 21px;
	}

	.strong_button a {
		font-size: 14px;
	}

	.strong_button a:before {
		top: 4px;
	}

	/* Strong. */



	/* Как это работает. */

	.how_header {
		font-size: 25px;
	}

	/* Как это работает. */



	/* Подвал. */

	.footer {
		padding-bottom: 24px;
	}

	/* Подвал. */



	/* Преимущества. */

	.edge_block {
		padding-top: 0;
	}

	.edge_title {
		font-size: 25px;
		line-height: 36px;
	}

	/* Преимущества. */



	/* Функции. */

	.func {
		margin-top: 0;
	}

	.func_header {
		font-size: 25px;
	}

	.func_block {
		padding: 24px;
	}

	.func_icon {
		width: 24px;
	}

	.func_title {
		padding-left: 20px;
		font-size: 14px;
	}

	/* Функции. */



	/* Cookies. */

	.cookies {
		bottom: 24px;
	}

	/* Cookies. */
}

@media only screen and (max-width: 370px) {
	/* Nav. */

	.nav_bone {
		padding-left: 20px;
		padding-right: 20px;
	}

	.nav_ul a {
		margin-left: 24px;
	}

	.nav_lang {
		margin-left: 20px;
	}

	/* Nav. */



	/* Как это работает. */

	.how {
		width: calc(100% - 40px);
	}

	.how_block {
		padding: 16px 0;
	}

	.how_title {
		font-size: 15px;
	}

	/* Как это работает. */



	/* Функции. */

	.func {
		width: calc(100% - 40px);
	}

	/* Функции. */



	/* Преимущества. */

	.edge_left {
		padding-left: 20px;
		padding-right: 20px;
	}

	.edge_tile {
		padding-left: 20px;
		padding-right: 20px;
	}

	/* Преимущества. */



	/* People. */

	.people_block {
		margin-left: 20px;
		margin-right: 20px;
	}

	/* People. */



	/* Promo. */

	.promo_left {
		padding: 96px 20px 36px;
	}

	.promo_descr {
		font-size: 15px;
	}

	.promo_button {
		justify-content: center;
	}

	/* Promo. */



	/* Pricing. */

	.pricing_bone {
		width: calc(100% - 40px);
	}

	.pricing_table_row:first-child .pricing_table_col {
		width: 100%;
	}

	/* Pricing. */
}

@media only screen and (max-width: 340px) {
	/* Promo. */

	.promo_descr br {
		display: none;
	}

	/* Promo. */
}